@media (max-width: 768px) {
    #chartContainer .button-container {
        flex-direction: column; /* Stacks buttons vertically on small screens */
    }
}

/*css file for the air quality map and interactive line chart*/
#map {
    width: 100%;
    height: 90vh; 
}
.year-switcher {
    background: white;
    padding: 5px;
}
.info.legend {
    padding: 6px 8px;
    font: bold 16px Arial, Helvetica, sans-serif; 
    color: black; 
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width:300px;
    height:240px;
}
.info.legend h4 {
    font-size: 20px; /* Increase the size of the legend title */
    font-weight: bold; /* Optional: make the title bolder */
}

.info.legend div {
    font-size: 16px; /* Increase the font size of the legend entries */
    margin: 8px 0 ; /* Increase spacing between entries for better readability */
   
}

.info.legend i {
    height: 20px; /* Increase the height of the color boxes */
    width: 40px; /* Increase the width of the color boxes */
    display: inline-block;
    margin-right: 10px; /* Ensure space between the color box and the text */
    vertical-align: middle; /* Align the color box with the middle of the text */
}

.year-controls button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color:back;
  
}

.year-controls button:hover {
    background-color: #ddd;
}

.year-controls button:focus,
.year-controls button.active {
    background-color: #ccc;
}
#dataTypeSelect {
    font-weight: bold;
    color: black;
    font-size:18px;
    width: 300px;
}

#dataTypeSelect option {
    font-weight: bold;
    color: black;
}


/* Clear Chart button styling */
#clearChartBtn {
    display: block; /* Make the button extend full container width */
    width: 200px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

#clearChartBtn:hover {
    background-color: #e01414; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Elevated shadow on hover */
}
#clearChartBtn.active {
    background-color: #e01414; /* Keeps the background red even after the click */
}
#chartContainer .button-container {
    display: flex;
    justify-content: start; /* Aligns items to the start of the container */
    gap: 10px; /* Adds space between buttons */
    margin-bottom: 20px; /* Extra space below the buttons before the canvas */
}
#chartContainer .button-container button {
    padding: 10px 20px; /* Ensures buttons are of the same size */
    font-size: 16px; /* Consistent font size */
    line-height: 1.5; /* Line height for better readability */
    border-radius: 5px; /* Consistent border radius for aesthetics */
    width: auto; /* Allows the content to determine the width */
    flex: 1; /* Each button takes equal width in the container */
}
